
  .navbar_item{
    background-color: #d9d9d9;
    color:#4a4a4a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .showLogout{
    position:fixed;
    top:80px;
    right:30px;
  }
  .imgsize{
    height: 200px;
    width: 200px;
    margin:1rem;
    border-radius: 0.5rem;
  }
  .custom_btn{
    /* border: 1px; */
    padding: 10px 20px;
    background-color: #3554d1;
    border-radius: 5px;
  }
  .custom_btn:hover {
    box-shadow: 2px 2px 5px gray;
    background-color: green ;
  }
  .prev_btn,.next_btn {
    color: blue;
    box-shadow: 1px 1px 1px black;
    background-color: ghostwhite;
  }
  /* .task-box{
    height: 350px;
    width: 300px;
    max-height: 35opx;
    overflow-y: auto;
    border: 1px solid black;
    background-color: #e7e7e7;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 120px;
  } */
  .task-box {
    height: 350px;
    width: 300px;
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid black;
    background-color: #e7e7e7;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 120px;


    scrollbar-width: thin;  
    scrollbar-color:#4a4a4a;
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: #e7e7e7;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #555555;
    }
}
.scroll-x {
  overflow-x: auto;
  max-width: 2000px;

  &::-webkit-scrollbar {
      height: 10px;  
  }

  &::-webkit-scrollbar-track {
      background-color: #f0f0f0;  
  }

  &::-webkit-scrollbar-thumb {
      background-color: #a0a0a0;  
      border-radius: 5px;  
  }
}
  .task-create-box{
    height: 150px;
    width: 300px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 50px;
    background-color: #e7e7e7;
  }
  .task-heading{
    background-color:#d9d9d9 ;
    text-align: center;
    color: black;
    padding: 5px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: large;
  }
  .toggle{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    height: 500px;
    width:500px;
    border: 1px solid black;
    background-color: white;
  }
  .list-item{
    display: flex;
    height: 28px;
    background-color: #f5f5f5;
    border-radius: 2px;
    margin:5px;
    font-size: large;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    cursor:move;
  }
  .item-checkbox:checked{
    background-color: green;
    background: green;
    
   }
 
  .item-checkbox{
    margin-right: 5px;
    margin-left: 4px;
    height: 28px;
    width:20px;
    margin-top: 0px;
    accent-color: lightpink;
  }
  .item-checkbox:hover {
    background-color: red;
  }

  .p-item{
    margin:0px;
    padding:0px;
    text-align: center;
  }
  .delete-list{
    position:absolute;
    top:25px;
    right:15px;
    background-color: "red";
  }